.about-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-section {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.degree {
  display: flex;
  flex-direction: column;
  align-items: center;
}