main {
  background-color: #1F363D;
  color: white;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 5rem;
  margin: 1rem 0;
  border-bottom: 1px solid white;
}

